.list.list-sm .list-item + .list-item {
	margin-top: 0.625rem;
}

.list-marked > .list-item {
	padding-left: 1.4375rem;

}

.list-marked > .list-item::before {
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: .63em;
	height: .63em;
	margin-left: -1.4375rem;
	margin-top: -1px;
	margin-right: 0.875rem;
	border-radius: 50%;
	background: #177ee5;
	will-change: transform;
}

.list-marked .list-item + .list-item {
	margin-top: 0.3125rem;
}

.list-marked .list-marked {
	margin-left: 3em;
}

.list-ordered {
	counter-reset: li;
}

.list-ordered > .list-item {
	padding-left: 1.25rem;
}

.list-ordered > .list-item::before {
	content: counters(li, ".") ".";
	counter-increment: li;
	display: inline-block;
	min-width: 1.25rem;
	margin-left: -1.25rem;
	padding-right: 0.3125rem;
	color: #aeaeb2;
}

.list-ordered .list-item + .list-item {
	margin-top: 0.8125rem;
}

.list-ordered .list-ordered {
	margin-left: 2.3em;
}

.list-icons .list-item {
	display: flex;
}

.list-icons .list-icon {
	margin-right: 0.4375rem;
	font-size: 1.125rem;
	line-height: 1.3;
	color: #177ee5;
}

.list-icons .list-item + .list-item {
	margin-top: 0.8125rem;
}

.list-marked-2 > .list-item {
	padding-left: 1.5rem;
    padding-bottom: 20px;
    font-size: 16px;
}

.list-marked-2 > .list-item::before {
	display: inline-block;
	margin-left: -1.625rem;
	min-width: 1.625rem;
	font-family: "Material Design Icons";
	font-size: 1.2em;
	content: '\f222';
	vertical-align: middle;
	color: #177ee5;
	transform: translateY(-1px);
}

.list-marked-2 .list-item + .list-item {
	margin-top: 0.0625rem;
}

* + .list {
	margin-top: 1.1875rem;
}

* + .list-marked-2 {
	margin-top: 0.65625rem;
}

@media (min-width: 992px) {
	* + .list {
		margin-top: 1.6625rem;
	}
	* + .list-marked-2 {
		margin-top: 0.91875rem;
	}
}

@media (min-width: 1600px) {
	* + .list {
		margin-top: 2.375rem;
	}
	* + .list-marked-2 {
		margin-top: 1.3125rem;
	}
}
